<!DOCTYPE html>
<html>
<head>
    <title>Login</title>
    <link rel="stylesheet" type="text/css" href="login.css"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="login.js"></script>
</head>

<body>
<h1>Welcome to Bulletin Board!</h1>
<div class="bg"></div>
<div class="panel">
  <input type="radio" id="switch-open" name="switch"/>
  <input type="radio" id="switch-close" name="switch"/>
  <!-- LOGIN -->
    <div class="login">
    <h1>LOGIN</h1>
    <div class="group"><i class="fa fa-envelope" aria-hidden="true"></i>
      <input type="text" id="logemail" placeholder="E-Mail"/>
      <label for="email"></label>
    </div>
    <div class="group"><i class="fa fa-unlock-alt" aria-hidden="true"></i>
      <input type="password" id="logpassword" placeholder="Password"/>
      <label for="password"></label>
    </div>
    <input type="submit" value="LOGIN" onclick="login()"/>
  </div>
    
<!-- REGISTRATION -->
  <div class="register">
    <label class="button-open" for="switch-open"></label>
    <label class="button-close" for="switch-close"></label>
    <div class="inner">   
      <h1>REGISTER</h1>
    <!-- Name field currently doesn't do anything, idk if it will have a purpose later -->
      <div class="group"><i class="fa fa-user" aria-hidden="true"></i>
        <input type="text" id="name" placeholder="Name"/>
        <label for="name"></label>
      </div>
      <div class="group"><i class="fa fa-envelope" aria-hidden="true"></i>
        <input type="text" id="regemail" placeholder="E-Mail"/>
        <label for="email"></label>
      </div>
      <div class="group"><i class="fa fa-unlock-alt" aria-hidden="true"></i>
        <input type="password" id="regpassword" placeholder="Password"/>
        <label for="password"></label>
      </div>
      <input type="submit" value="REGISTER" onclick="register()"/>
    </div>
  </div>
</div>
    
</body>
</html>

<!-- Template used with permission by Samet @ https://codepen.io/sameterdem/ -->
<!--
Copyright (c) 2019 by Samet (https://codepen.io/sameterdem/pen/ZJKYEr)


Permission is hereby granted, free of charge, to any person obtaining a copy of this software and associated documentation files (the "Software"), to deal in the Software without restriction, including without limitation the rights to use, copy, modify, merge, publish, distribute, sublicense, and/or sell copies of the Software, and to permit persons to whom the Software is furnished to do so, subject to the following conditions:

The above copyright notice and this permission notice shall be included in all copies or substantial portions of the Software.

THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM, OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE SOFTWARE.
-->