<link rel="stylesheet" type="text/css" href="profile.css"/>
<script src="profile.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<body onload="setup()">
    
<div class="container">
    <img src="tacobellbanner.png" alt="picture of a city" class="top-image">
    <div class="profile-pic">
    </div>
    <div class="profile">
      <div class="profile-info">
        <div class="name">
            <h3 id="company_name">Taco Bell</h1>
        </div>
      </div>
      <div class="profile-popularity">
        <div class="field"><span class="pop-tag">Suggestions</span><span class="pop-num">0</span></div>
        <div class="field"><span class="pop-tag">Up votes</span><span class="pop-num">0</span></div>
        <div class="field"><span class="pop-tag">Down votes</span><span class="pop-num">0</span></div>
      </div>
    </div>  
    <div class="posts">
        <blockquote>Loading...</blockquote><br>
    </div>
  </div>

  <div class="plus" id="modalbtn">
    <div class="symbol"></div>
  </div>
  <div class="back" onclick="window.history.back()">
    <div class="symbol"></div>
  </div>
</body>

<!-- Add comment Modal -->
<div id="commentModal" class="modal" style="text-align: center">

  <!-- Modal content -->
  <div class="modal-content">
    <div class="modal-header"></div>
    <div class="modal-body">
    <h2>Write your comment below</h2>
      <textarea id="commentArea" name="comment" placeholder="Enter comment here..."></textarea>
    </div><br>
    <button onclick="addComment()">Add Comment</button>
  </div>

</div>

<style>
    
.container .profile-pic {
    background: url(tacobellicon.png);
}

</style>

<!--
Copyright (c) 2019 by Alberto Jaime Le Baron (https://codepen.io/anewmodern/pen/JrYNQZ)


Permission is hereby granted, free of charge, to any person obtaining a copy of this software and associated documentation files (the "Software"), to deal in the Software without restriction, including without limitation the rights to use, copy, modify, merge, publish, distribute, sublicense, and/or sell copies of the Software, and to permit persons to whom the Software is furnished to do so, subject to the following conditions:

The above copyright notice and this permission notice shall be included in all copies or substantial portions of the Software.

THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM, OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE SOFTWARE.
-->